@model IList<Order>
</script>
<link rel="stylesheet" href="~/css/site.css">

<body id="grad">
    <div class="center">
        <h2>Orders assigned to you</h2>
    </div>

    <div class="flex-container">
        @for (int i = 0; i < Model.Count; i++)
        {
            Decimal totalPrice = 0.0m;
            int curOrder = i + 1;
            <div class="flex-item">
                <table class="table table-bordered table-light table-order">
                    <tr><th class="standard-cell">Order @curOrder of @Model.Count</th></tr>
                    <tr>
                        <td>
                            @for (int j = 0; j < Model[i].PizzaList.Count; j++)
                            {
                                int curPizza = j + 1;
                                <table class="table-pizza">
                                    <tr><th>Pizza @curPizza of @Model[i].PizzaList.Count </th></tr>
                                    <tr><td>@Model[i].PizzaList[j].Name</td></tr>
                                    <tr><td>Price: @Model[i].PizzaList[j].Price.ToString("C")</td></tr>
                                    @{
                                        totalPrice += Model[i].PizzaList[j].Price;
                                    }

                                </table>
                            }
                        </td>
                    </tr>
                    @{
                        string standardStatus = Model[i].OrderStatus.ToString().Substring(0, 1) + Model[i].OrderStatus.ToString().Substring(1).ToLower();
                    }
                    <tr>
                        <td>
                            <form method="post" asp-controller="employee" asp-action="UpdateStatus"  asp-route-orderId="@Model[i].Id">
                                
                                <select name="selectValue" asp-for="@Model[i].OrderStatus" asp-items="Html.GetEnumSelectList<ShowOrderStatus>()" onchange="submit()"></select>
                            </form>
                        </td>
                    </tr>
                    
                    <tr><td class="standard-cell">Order Total: @totalPrice.ToString("c")</td></tr>
                    <tr><td class="standard-cell"><a class="btn btn-info" style="width: 100%;" asp-controller="Employee" asp-action="Details" asp-route-id="@Model[i].Id">Details</a></td></tr>
                    <tr><td class="standard-cell"><a class="btn btn-danger" style="width: 100%;" asp-controller="Employee" asp-action="DeleteOrder" asp-route-id="@Model[i].Id">Delete Order</a></td></tr>
                </table>
            </div>
        }
    </div>
</body>