
@model Pizza

<body id="grad">

    <form asp-controller="Customer" asp-action="CustomPizzaView" method="post">
        <h1>Pizza Creation Station</h1>
        <h3>Fill out the form below to create your new Personal Favorite!</h3>
        <label>Name of Pizza:</label>
        <input asp-for=@Model.PizzaName />
        <br />
        <br />

        <div class="row">
            <div class="column">
                <h3>Meats</h3>
                <br />
                @foreach (Topping topping in ViewBag.Toppings) {
                    if (topping.ToppingType == ToppingType.MEAT)
                    {
                        <input type="checkbox" name="Topping" value=@topping.ToppingID>
                        <label>@topping.ToppingName</label>
                        <br />
                    }
                }
                <h3>Veggies</h3>
                <br />
                @foreach (Topping topping in ViewBag.Toppings)
                {
                    if (topping.ToppingType == ToppingType.VEGGIE)
                    {
                        <input type="checkbox" name="Topping" value=@topping.ToppingID>
                        <label >@topping.ToppingName</label>
                        <br />
                    }
                }
            </div>


            <div class="column">
                <h3>Sauce</h3>
                <br />
                @foreach (Topping topping in ViewBag.Toppings)
                {
                    if (topping.ToppingType == ToppingType.SAUCE)
                    {
                        <input type="checkbox" name="Topping" value=@topping.ToppingID>
                        <label >@topping.ToppingName</label>
                        <br />
                    }
                }
                <h3>Cheese</h3>
                <br />
                @foreach (Topping topping in ViewBag.Toppings)
                {
                    if (topping.ToppingType == ToppingType.CHEESE)
                    {
                        <input type="checkbox" name="Topping" value=@topping.ToppingID>
                        <label >@topping.ToppingName</label>
                        <br />
                    }
                }
            </div>

            <div class="column">
                <h3>Crust</h3>
                <br />
                @foreach (Crust crust in ViewBag.Crusts)
                {
                        <input asp-for="CrustId" type="radio" name="Crust" value="@crust.CrustId">
                        <label asp-for="CrustId">@crust.CrustName</label>
                        <br />
                }
                <h3>Size</h3>
                <br />
                @foreach (Size size in ViewBag.Sizes)
                {
                    <input type="radio" name="Size" value=@size.SizeId>
                    <label >@size.SizeName</label>
                    <br />
                }

            </div>
        </div>

        

        <button type="submit">Make That Pie!</button>
    </form>
</body>