
@model CustomizeViewModel

<body id="grad">

    <form asp-controller="Customer" asp-action="CustomPizzaView" method="post">
        <h1>Pizza Creation Station</h1>
        <h3>Fill out the form below to create your new Personal Favorite!</h3>
        <label>Name of Pizza:</label>
        <input asp-for=@Model.Pizza.PizzaName />
        <br />
        <br />

        <div class="row">
            <div class="column">
                <h3>Meats</h3>
                <br />
                @foreach (KeyValuePair<Topping, bool> topping in Model.ToppingDictionary) {
                    if (topping.Key.ToppingType == ToppingType.MEAT)
                    {
                        <input type="checkbox" name="@Model.ToppingDictionary[topping.Key]" value=@topping.Value>
                        <label>@topping.Key.ToppingName</label>
                        <br />
                    }
                }
                <h3>Veggies</h3>
                <br />
                @foreach (KeyValuePair<Topping, bool> topping in Model.ToppingDictionary)
                {
                    if (topping.Key.ToppingType == ToppingType.MEAT)
                    {
                        <input type="checkbox" name="@Model.ToppingDictionary[topping.Key]" value=@topping.Value>
                        <label>@topping.Key.ToppingName</label>
                        <br />
                    }
                }
            </div>


            <div class="column">
                <h3>Sauce</h3>
                <br />
                @foreach (KeyValuePair<Topping, bool> topping in Model.ToppingDictionary)
                {
                    if (topping.Key.ToppingType == ToppingType.SAUCE)
                    {
                        <input type="checkbox" name="@Model.ToppingDictionary[topping.Key]" value=@topping.Value>
                        <label>@topping.Key.ToppingName</label>
                        <br />
                    }
                }
                <h3>Cheese</h3>
                <br />
                @foreach (KeyValuePair<Topping, bool> topping in Model.ToppingDictionary)
                {
                    if (topping.Key.ToppingType == ToppingType.CHEESE)
                    {
                        <input type="checkbox" name="@Model.ToppingDictionary[topping.Key]" value=@topping.Value>
                        <label>@topping.Key.ToppingName</label>
                        <br />
                    }
                }
            </div>

            <div class="column">
                <label asp-for="Pizza.CrustId">Crust</label>
                <select asp-for="Pizza.CrustId" class="=form-control">
                    @foreach (Crust crust in ViewBag.Crusts)
                    {
                        <option value="@crust.CrustId">@crust.CrustName</option>
                    }
                </select>
         
                <label asp-for="Pizza.SizeId">Size</label>
                <select asp-for="Pizza.SizeId" class="=form-control">
                    @foreach (Size size in ViewBag.Sizes)
                    {
                        <option value="@size.SizeId">@size.SizeName</option>
                    }
                </select>

            </div>
        </div>

        

        <button type="submit">Make That Pie!</button>
    </form>
</body>