
@model CustomizeViewModel

<body id="grad">

    <form asp-controller="Customer" asp-action="CustomPizzaView" method="post">
        <h1>Pizza Creation Station</h1>
        <h3>Fill out the form below to create your new Personal Favorite!</h3>
        <div asp-validation-summary="All" class="text-danger"></div>
        <label>Name of Pizza:</label>
        <input asp-for=@Model.Pizza.Name />
        <br />
        <br />

        <div class="row">
            <div class="column">
                <h3>Meats</h3>
                <br />
               @for(int i = 0; i < Model.ToppingList.Count; i++)
                {
                    @if(Model.ToppingList[i].Topping.ToppingType == ToppingType.MEAT)
                    {
                        <div>
							@Html.HiddenFor(m => m.ToppingList[i].Topping.Price)
                            @Html.HiddenFor(m => m.ToppingList[i].Topping.Id)
                            @Html.CheckBoxFor(m => m.ToppingList[i].IsSelected)
                            @Html.LabelFor(m => m.ToppingList[i].IsSelected, Model.ToppingList[i].Topping.Name)
                        </div>
                    }      
                }
                <h3>Veggies</h3>
                <br />
                @for (int i = 0; i < Model.ToppingList.Count; i++)
                {
                    @if (Model.ToppingList[i].Topping.ToppingType == ToppingType.VEGGIE)
                    {
                        <div>
                            @Html.HiddenFor(m => m.ToppingList[i].Topping.Price)
                            @Html.HiddenFor(m => m.ToppingList[i].Topping.Id)
                            @Html.CheckBoxFor(m => m.ToppingList[i].IsSelected)
                            @Html.LabelFor(m => m.ToppingList[i].IsSelected, Model.ToppingList[i].Topping.Name)
                        </div>
                    }
                }
            </div>


            <div class="column">
                <h3>Sauce</h3>
                <br />
                @for (int i = 0; i < Model.ToppingList.Count; i++)
                {
                    @if (Model.ToppingList[i].Topping.ToppingType == ToppingType.SAUCE)
                    {
                        <div>
                            @Html.HiddenFor(m => m.ToppingList[i].Topping.Price)
                            @Html.HiddenFor(m => m.ToppingList[i].Topping.Id)
                            @Html.CheckBoxFor(m => m.ToppingList[i].IsSelected)
                            @Html.LabelFor(m => m.ToppingList[i].IsSelected, Model.ToppingList[i].Topping.Name)
                        </div>
                    }
                }
                <h3>Cheese</h3>
                <br />
                @for (int i = 0; i < Model.ToppingList.Count; i++)
                {
                    @if (Model.ToppingList[i].Topping.ToppingType == ToppingType.CHEESE)
                    {
                        <div>
                            @Html.HiddenFor(m => m.ToppingList[i].Topping.Price)
                            @Html.HiddenFor(m => m.ToppingList[i].Topping.Id)
                            @Html.CheckBoxFor(m => m.ToppingList[i].IsSelected)
                            @Html.LabelFor(m => m.ToppingList[i].IsSelected, Model.ToppingList[i].Topping.Name)
                        </div>
                    }
                }
            </div>

            <div class="column">
                <label asp-for="@Model.Pizza.CrustId">Crust</label>
                <select asp-for="@Model.Pizza.CrustId" class="=form-control">
                    @foreach (Crust crust in ViewBag.Crusts)
                    {
                        <option value="@crust.Id">@crust.Name</option>
                    }
                </select>
         
                <label asp-for="@Model.Pizza.SizeId">Size</label>
                <select asp-for="@Model.Pizza.SizeId" class="=form-control">
                    @foreach (Size size in ViewBag.Sizes)
                    {
                        <option value="@size.Id">@size.Name</option>
                    }
                </select>
            </div>
        </div>

        @Html.HiddenFor(m => m.Pizza.UserId)

        <button type="submit">Make That Pie!</button>
    </form>
</body>