@model Order
@ViewBag.Orders

@if (@Model != null && Model.PizzaList.Count > 0){
    <table id="customers" >
    <thead>
    <tr>
        <th>Pizza</th>
        <th>Price</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        <form method="post">
            @foreach (var pizza in @Model.PizzaList)
            {
        <tr>
            <td>@pizza.Name</td>
            <td>@pizza.Price</td>
            <td><button asp-action="Delete" asp-route-id="@pizza.Id">Delete</button></td>
        </tr>
            }
        </form>
    </tbody>
</table>

    <a asp-action="ListPizzas" asp-controller="Customer" class="btn btn-primary">Add another pizza</a>
    <br />

    <input type="radio" name="orderType" value="delivery"/>

    <label> Delivery</label>
    <br />
    <input type="radio" name="orderType" value="pickup" checked/>

    <label> Pickup</label>

    
    decimal total = 0.0m;
    foreach (var pizza in Model.PizzaList)
    {
        total += pizza.Price;
    }
    <h3>Total: @total.ToString("c")</h3>
    
        
    

    

    <h3>Enter a Delivery Address</h3>
@*<form method="post" asp-controller="Order">*@
    <label>Address: </label>
    <input type="text" name="address" pattern="(?=\S*\s)(?=[^a-zA-Z]*[a-zA-Z])(?=\D*\d)[a-zA-Z\d\s',.#/-]*" required />
    <br/>
    <label>Zipcode: </label>
    <input type="text" name="zipcode" pattern="[0-9]{5}" required/>
    <br/>
@*</form>*@

    <form method="post" asp-action="SubmitOrder" asp-controller="Order">
    <button  class="btn btn-primary" value="SUBMIT">SUBMIT</button>
    </form>

}else{
<h1>Nothing is here</h1>
<form method="post">
    <a asp-action="ListPizzas" asp-controller="Customer" class="btn btn-primary">Buy A Pizza</a>
</form>
}