@model Order
@ViewBag.Orders

@if (@Model != null){
    <table style="border-width:1; border-color:"Black"; >
    <thead>
    <tr>
        <th>Pizza ID</th>
        <th>Price</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        <form method="post">
            @foreach (var o in @Model.Pizzas)
            {
        <tr>
        <td>@o.Id</td>
        <td>@o.Price</td>
        <td><button asp-action="Delete" asp-route-pizza="@Model.Pizzas.IndexOf(o)">Delete</button></td>
        <br/>
        </tr>
            }
        </form>
    </tbody>
</table>

    <h3>Enter a Delivery Address</h3>
<form method="post" asp-controller="Order">
    <label>Address: </label>
    <input type="text" name="address"/>
    <br>
    <label>Zipcode: </label>
    <input type="text" name="zipcode"/>
</form>

    <form method="post">
    <button asp-action="" class="btn btn-primary" value="SUBMIT">SUBMIT</button>
    </form>

}else{
<h1>Nothing is here</h1>
<form method="post">
    <a asp-action="ListPizzas" asp-controller="Customer" class="btn btn-primary">Buy A Pizza</a>
</form>
}