@model Pizza

@if (Model != null)
{
    <form method="post" asp-action="DeletePizza" asp-controller="Customer">
        <h2>@Model.Name</h2>
        <br />

        @foreach (Topping topping in Model.Toppings)
        {
            @topping.Name
            <br />
        }
        <h5>@Model.Crust.Name</h5>
        <br />
        <h5>@Model.Size.Name</h5>
        <br />
        @Model.Price.ToString("c")
        <br />
        <p>Delete this Pizza?</p>
        <br />
        <input type="hidden" asp-for="@Model.Id" />
        <a asp-action="ListPizzas" asp-controller="Customer" class="btn btn-primary">No</a>
        <button type="submit" class="btn btn-secondary">Yes</button>
    </form>
}
else
{
    <h1>Nothing here sorry.</h1>
}
